/* ActiveCampaign styles */
.ActiveCampaign {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: fit-content;
  overflow: visible;
}

.active-campaign-card{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fcfaf6;
  width: 400px;
}

.active-campaign-card h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.active-campaign-card p {
  font-size: 16px;
  color: #322e2e;
  margin-bottom: 10px;
}

.button-alignment{
  display: flex;
  justify-content: center;
}

.logo-active{
  width: 130px;
  height: 130px;
  margin: 0 auto;
}

.campaign-stats p {
  font-weight: bold;
  margin: 10px 0;
}

.campaign-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
}

.campaign-buttons button {
  padding: 10px 15px;
  font-size: 14px;
  background-color: #795757;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.campaign-buttons button:hover {
  background-color: #FFF0D1;
    color: #795757;
}

.ActiveCampaigns {
  width: 100%;
  /* display: flex;
  flex-direction: column; */
  gap: 20px;
  height: fit-content;
  overflow: visible;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header{
  background-color: #E4E0E1;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  margin: 10px auto;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.register-button{
  background-color: #795757;
}
