.LiveStreamRouting{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    padding-bottom: 50px; */
    background-color: #faf5eb;
    border-radius: 8px;
    height: fit-content;
    padding: 50px 20px;
    z-index: -1000;
}   
