@font-face {
  font-family: AbhayaLibre-regular;
  src: url(../../fonts/abhaya-libre/AbhayaLibre-Regular.ttf);
}

.TrendingSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.TrendingPosts {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
}

.ActiveCampaigns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.TrendingPostItem img {
  width: 100%;
  border-radius: 10px;
}

.ActiveCampaigns h3{
  text-align: center;
  font-family: AbhayaLibre-regular;
  font-size: 30px;
  margin: 0;
}

.ActiveCampaigns p{
  font-family: AbhayaLibre-regular;
  font-size: 20px;
  margin: 0;
  font-style: italic;
}

.TrendingPosts h3{
  text-align: center;
  font-family: AbhayaLibre-regular;
  font-size: 30px;
  margin: 0;
}

.trending-posts{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.section-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.TrendingPosts p{
  font-family: AbhayaLibre-regular;
  font-size: 20px;
  margin: 0;
  font-style: italic;
}

.campaign-row{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0 auto;
}