.PageContent{
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .belowMNB{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
  }
  
  .MainContainer {
      display: flex;
      padding: 20px 20px 20px 0;
      flex-wrap: wrap;
      width: 100%;
    }
    
    .TabContent {
      padding: 20px;
      background: rgba(245, 245, 245, 1);
      border-radius: 10px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      width: 100%;
    }
  
  .SideContainer{
    width: 325px;
    margin: 20px, 0;
  }
    