.coordinator-event{
  width: 100%;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: auto;
}
  .event-button{
    width: fit-content;
  }

  .coordinatorevent-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFF0D1;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .event-creation{
    padding: 20px;
  }

  .event-list-intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: #FFE2E2;
    padding: 20px;
    width: 100%;
    gap: 30px;
    border-radius: 20px;
  }

  .event-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: auto;
    height: 450px;
    gap: 1rem;
    padding: 1rem;
  } 

  .event-card{
    width: 450px;
    height: fit-content;
    min-height: 358px;
  }

  .event-bottom{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  left: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  }

  .event-display{
  width: 100%; 
  margin: 0 auto; 
  padding: 20px; 
  background-color: #f9f9f9; 
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;  }

  .event-display h2{
    font-size: 30px;
    text-align: center;
  }

  /* Overall table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #493628;
  color: white;
  font-weight: bold;
}

th {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

tbody tr {
  border-bottom: 1px solid #f2f2f2;
}

td {
  padding: 10px 15px;
  text-align: left;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
  font-size: 14px;
}

h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

td ul li:empty {
  color: #888;
  font-style: italic;
}
